{% extends 'student_profile/basemenu.html' %}


      {% block content %}

<div class="row">
  
   <div class="col-sm-12">
 

<!-- Default form login -->
<!-- Material form login -->


<div class="card" style="margin-left: 5px; margin-right: 2px;">
    <div class="card-header info-color">

      <h4 class="card-title  white-text  py-1">ID in Student</h4>
    </div>
            <div class="card-body" style="margin-left: 5px; margin-right: 0px;">
              <form method="post">
                {%csrf_token%}
                     {{form.as_p}}

              <button type="submit" class="btn btn-sm  btn-cyan accent-3"><i class="fa fa-save pr-2" aria-hidden="true"></i>Save</button>

            </form>
          </div>

        </div>
<!-- Material form login --><!-- Default form login -->


</div>
</div>

 {%endblock%}